<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
    <link rel="stylesheet" href="/static/css/productIndex.css">
</head>
<body>
<%- include('./partials/header')%>

<main>
    <h3 class="title">Novedades</h3>

  
  
    <section class="cards">
        <% newCourse.forEach( product => { %>
          <article class="card">
              <div class="card__container-img">
                  <img class="card__img" src="/static/img/<%=product.image%>" alt="Imagen Deportiva">
              </div>
              <div class="card__container-info">
                  <p class="card__label-new">Nuevo</p>
                  <h4 class="card__name"> <%= product.name %> </h4>
                  <p class="card__price">$ <%= product.price %></p>
                  <a class="card__btn" href="/product/<%=product.id%>">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
              </div>
          </article>
        <% }) %>
  
    </section> 
  
    <h3 class="title">Promociones</h3>
  
  
    <section class="cards">
      
      <% inSale.forEach( product => { %>
          <article class="card">
              <div class="card__container-img">
                  <img class="card__img" src="/static/img/<%= product.image %>" alt="Imagen Deportiva">
              </div>
              <div class="card__container-info">
                  <p class="card__label-offer"><%=product.discount%>% OFF</p>
                  <h4 class="card__name"><%= product.name %></h4>
                  <div class="card__price-offer">
                      <p class="card__price offer">$<%= product.price %></p>
                      <p class="card__price color-offer">$ <%=calculateDiscount(product.price,product.discount ) %></p>
                  </div>
                  <a class="card__btn" href="/product/<%=product.id%>">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
              </div>
        </article>
        <% }) %>
  
    </section> 

    <h3 class="title">Otros</h3>

    <section class="cards">
        <% others.forEach( product => { %>
          <article class="card">
              <div class="card__container-img">
                  <img class="card__img" src="/static/img/<%=product.image%>" alt="Imagen Deportiva">
              </div>
              <div class="card__container-info">
                  <p class="card__label-new">Nuevo</p>
                  <h4 class="card__name"> <%= product.name %> </h4>
                  <p class="card__price">$ <%= product.price %></p>
                  <a class="card__btn" href="/product/<%=product.id%>">Ver mas <i class="fa-solid fa-arrow-right"></i></a>
              </div>
          </article>
        <% }) %>
  
    </section>
</main>
    <%- include('./partials/footer')%>

</body>

</html>