<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')%>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <%- include('./partials/header')%>
        <br><br>

        <main>
            <div class="details">
                <article class="product_details">
                    <div class="product_img">
                        <img class="card__img" src="/static/img/<%=product.imagen%>" alt="Imagen Deportiva">
                    </div>
                    <section class="info">
                    <div class="product_title">
                        <h3><%=product.nommbre%></h3>
                        <p class="price">$<%=product.precio%></p>
                    </div>
                    <div class="filter">
                    <p>Seleccione dia y hora</p>
                    <div class="form_container">
                        <form action="/days" method="POST">
                            <select name="days">
                                <option value="1">lunes</option>
                                <option value="2">Martes</option>
                                <option value="3">Miercoles</option>
                                <option value="4">Jueves</option>
                                <option value="5">Viernes</option>
                                <option value="6">Sabado</option>
                                <option value="7">Domingo</option>
                            </select>
                        </form>
                        <from action="/horas" method="POST">
                            <select name="hours">
                                <option value="5pm">05:00 p.m. - 06:00 p.m.</option>
                                <option value="6pm">06:00 p.m. - 07:00 p.m.</option>
                                <option value="7pm">07:00 p.m. - 08:00 p.m.</option>
                            </select>
                        </form>
                    </div>
                    </div>
                    </section>
                </article>
                <article class="product_description">
                        <h2>Descripción</h2>
                        <p class="description">
                            <%=product.descripcion%>
                            <br><br>
                        </p>
                    </div>
    
                </article>
                <div class="deleteAndEdit">
                <a href="/products/edit/<%= product.id %>" class="edit-button">EDITAR</a>
                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="detele-button">ELIMINAR</button>
                </div>
            </div>
        </main>

        <%- include('./partials/footer')%>

    </body>

</html>